<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>eidlab.ch client</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<style>
	body {
	  padding-top: 60px;
	}
	.navbar-inverse {
		background-color: #223;
	}
	</style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#546E7A;">
      <div class="container">
        <div class="navbar-header">
          <a target="_blank" class="navbar-brand" href="http://eidlab.ch"><img _ngcontent-c0="" alt="Identity Federation Playground / eIdLab.ch" src="/toolbar_logo.png"></a>
          <a target="_blank" class="navbar-brand" href="http://client.eidlab.ch"><span class="label label-primary">Go To Client/Relying Part Server</span></a>
          <a target="_blank" class="navbar-brand" href="http://oauth.eidlab.ch"><span class="label label-danger">Go To Authorization Server</span></a>
          <a target="_blank" class="navbar-brand" href="http://resource.eidlab.ch/info"><span class="label label-warning">Go To Protected Resources Server</span></a>
        </div>
        <br><br><br>
      </div>
    </nav>
<br><br>
    <div class="container">

        <div class="jumbotron">
            under development - under development - under development - under development - under development<br><br>
            <p>This page represents the  <span class="label label-danger">Dynamic Client Registration and Client Managing</span> of the <a target="_blank"  href="http://eidlab.ch"><span class="label label-default">eIdLab.ch</span></a> OAuth and OpenID Connect ecosystem:</p>
            <br>
            The dynamic registered clients in this lab envorinment are only stored temporarily in memory during the session. The full metadata of all registered clients is displayed in the <a target="_blank" href="http://oauth.eidlab.ch">Authorization Server Page</a>.<br>
            <hr>
            <b>Dynamic Client Registration</b><br>
            <br>
            <form class="form" action="/registerClientHelper" method="POST">
              New client name:&nbsp;&nbsp;&nbsp;<input type="text" name="dynamicclient" placeholder="clientname">
              &nbsp;&nbsp;&nbsp;<input type="submit" class="btn btn-default" name="register" value="Register new client">
             </form>
             <hr>
            <b>Dynamic Client Management</b><br>
            <br>
             <form class="form" action="/adminDynClientsHelper" method="POST">
             <input type="submit" class="btn btn-default" name="managedynclients" value="View and manage all dynamic clients">
            </form>
             <% if (oidcdynclientregisterflow.includes('c'  ) && dynClientsJStypeOfCheck == true ) { %> 
                 <% _.each(dynClientsJS, function(client) { %>

                  <% if (client.client_name !== null ) { %>

                  <hr>
                  <form class="form" action="/update_client/" method="POST">
                    <b>dynamic_client_id:</b> <code><%- client.client_id %></code><br>
                    <input type="hidden" name="client_id" value="<%- client.client_id %>">
                    <input type="hidden" name="client_registration_access_token" value="<%- client.client_registration_access_token %>">
                    <b>dynamic_client_registration_access_token:</b> <code><%- client.client_registration_access_token %></code><br>
                    <b>dynamic_client_name:</b> <input type="text" name="client_name" placeholder="clientname" value=<%- client.client_name %>><br>
                    <br>
                    <input type="submit" class="btn btn-default" name="change_name_"+client.client_id value="Change client name">
                  </form>
                  <br>
                  <form class="form" action="/unregisterClient/" method="POST">
                    <input type="hidden" name="client_id" value="<%- client.client_id %>">
                    <input type="hidden" name="client_registration_access_token" value="<%- client.client_registration_access_token %>">
                   <input type="submit" class="btn btn-default" name="delete_"+client.client_id value="Unregister client"><br>
                  </form>

                  <% }; %>

                 <% }); %>
          <% } else { %>
        <% } %>
            </div>
    </div><!-- /.container -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <nav class="navbar navbar-inverse navbar-fixed-bottom" style="background-color:#546E7A;">
    <div class="container">
      <div class="navbar-header" style="text-align:center;font-size:15px;color:white">
        <a target="_blank" class="navbar-brand"  href="https://github.com/openses/auth-openses/blob/master/client.js">Client Javascript Source</a>
        <a target="_blank" class="navbar-brand" href="https://github.com/openses/auth-openses/tree/master/files/client">Client HTML View Sources</a>
        <a target="_blank" class="navbar-brand" href="https://github.com/oauthinaction/oauth-in-action-code">Original Sources</a>
        <a target="_blank" class="navbar-brand" href="https://buerojacob.ch/kontakt.html">Impressum</a><br>
        This app is built with the express-node.js Framework and is running in a docker container.
      </div>
    </div>
  </nav>
  </body>
</html>
