<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>eidlab.ch client</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<style>
	body {
	  padding-top: 60px;
	}
	.navbar-inverse {
		background-color: #223;
	}
	</style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a target="_blank" class="navbar-brand" href="http://eidlab.ch"><span class="label label-default">eIdLab.ch</span></a>
          <a class="navbar-brand" href="/"><span class="label label-primary">Client</span></a>
          <a target="_blank" class="navbar-brand" href="http://oauth.eidlab.ch"><span class="label label-danger">Authorization</span></a>
          <a target="_blank" class="navbar-brand" href="http://resource.eidlab.ch"><span class="label label-success">Resources</span></a>
        </div>
      </div>
    </nav>

    <div class="container">

      <div class="jumbotron">
      <p>This page represents the  <span class="label label-primary">Client</span> of the <a target="_blank"  href="http://eidlab.ch"><span class="label label-default">eIdLab.ch</span></a> OAuth and OpenID Connect ecosystem:</p>
      <br>
      <a class="btn btn-default" href="/authorize">1 Go to Authorization Server: Sign In & Approve this Client and Scope & Get Code</a> Code: <span class="label label-danger"><%= (render_code && oidcflow.includes('a')) ? render_code : 'NONE' %></span><br>
      <br>
      <a class="btn btn-default" href="/get_access_token">2.1 Get Access Token and Scope from Authorization Server</a>
        Access Token: <span class="label label-danger"><%- (access_token && oidcflow.includes('b')) ? access_token : 'NONE' %></span>
        Scope: <span class="label label-warning"><%- (scope && oidcflow.includes('b')) ? scope : 'NONE' %></span><br><br>
      <a class="btn btn-default" href="/fetch_resource_with_access_token">2.2 Get Data from Protected Resource without UserID</a> 
      Data from Protected Resource:
      <span class="label label-danger"> 
      <% if (access_token && oidcflow.includes('x')) { %> 
        Data: <%- JSON.stringify(resource, null, 4) %>
    <% } else { %>
    NONE
  <% } %>
      </span><br>
      <br>
      <a class="btn btn-default" href="/get_id_token">3.1 Get ID Token from Authorization Server</a>
       ID Token (JSON Web Token / JWT): 
          <% if (id_token && oidcflow.includes('d')) { %> 
            <pre>
                <span class="label label-danger" style="font-size:12pt"><%- id_token %></span>
            </pre>
            <% } else { %>
            <span class="label label-danger">NONE</span>
          <% } %><br>
      <br>
      <a class="btn btn-default" href="/decode_jwt">3.2 Decode ID Token</a> Logged in User Subject: <span class="label label-warning"><%- (sub && oidcflow.includes('e')) ? sub : 'NONE' %></span> from Issuer: <span class="label label-warning"><%- (iss && oidcflow.includes('e')) ? iss : 'NONE' %></span><br>
      <br>
      <a class="btn btn-default" href="/userinfo">3.3 Get User Data from Authorization Server (Based on Scope)</a> Data from Identity Provider:
          <% if (userInfo && oidcflow.includes('f')) { %>
            <ul>
              <% _.each(userInfo, function(value, key, list) { %>
          
                <% if (key == 'profile') { %>
						<li><b>profile:</b></li>
            			<ul>
              				<% _.each(profile, function(value, key, list) { %>
	                		<li><b><%- key %></b>: <%- value %></li>
              				<% }); %>
            			</ul>
            		<% } %>
            	<% if (key == 'credentials') { %>
						<li><b>credentials:</b></li>
            			<ul>
              				<% _.each(credentials, function(value, key, list) { %>
	                		<li><b><%- key %></b>: <%- value %></li>
              				<% }); %>
            			</ul>
            		<% } %>
            	<% if (key !== 'credentials' && key !== 'profile') { %>
						<li><b><%- key %></b>: <%- value %></li>
            		<% } %>
              <% }); %>
            </ul>
            <% } else { %>
            <span class="label label-danger">NONE</span>
          <% } %>
        <br>
        <br>
        <a class="btn btn-default" href="/fetch_resource">3.4 Get Data from Protected Resource based on Scope and ID Token</a> Data from Protected Resource:
            <% if (resource && oidcflow.includes('g')) { %> 
            <ul>
                Data owner: <%- userInfo.name %><br>
                Permission for <%- permission %>: 
                Create: <% if (permission == 'government-administrator') {%> yes <% } else { %> no <% } %> / 
                Read: <% if (permission !== 'malicious-attacker') {%> yes <% } else { %> no <% } %> /
                Update: <% if (permission == 'government-administrator' || permission == 'teacher' || permission == 'school-administrator') {%> yes <% } else { %> no <% } %> / 
                Delete: <% if (permission == 'government-administrator' || permission == 'school-administrator') {%> yes <% } else { %> no <% } %><br>
                <% if (permission !== 'malicious attacker') { %> 
                      Data: <%- JSON.stringify(resource, null, 4) %>
                  <% } else { %>
                  No access permission for protected Data!
                <% } %>
              </ul>
            <% } else { %>
            <span class="label label-danger">NONE</span>
          <% } %>      
      <br> 
      <br>
      <a class="btn btn-default" href="http://localhost:9000/callback?error=access_denied">4 Sign Out & Destroy Session</a>
      </div>
    </div><!-- /.container -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
